.prompt-call {
    position: fixed;
    bottom: 10px;
    width: 98%;
}

.codec-folder {
    color: yellowgreen;
    font-style: italic;
    font-size: 10pt;
}

.box-folders {
    border: groove 2px #1f2534dc;
}

.btnico {
    padding: 2px;
    border: groove 2px #88c46cd7;
    border-radius: 5px;
    background-color: transparent;
    transition: ease all 1s;
}

.btnico:hover {
    padding: 2px;
    cursor: pointer;
    transition: ease all 1s;
    background-color: #44444425;
}

.navside {
    border: groove 2px #1f2534dc;
    padding: 10px;
    border-radius: 5px;
}

.capacidad {
    // background-color: aqua;
    color: rgb(226, 255, 255);
    font-size: 10pt;
}

.pending-files {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

.file-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.containerFolderDocs {
    margin: 5px;
    cursor: pointer;
    transition: ease all 0.5s;
    border: solid 2px rgba(255, 230, 0, 0);
}

.containerFolderDocs:hover {
    transition: ease all 0.5s;
    border: solid 2px rgb(255, 230, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 9, 18, 0.362);
}

.containerFolderDocs.drag-over {
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.223);
    transition: ease all 1s;
}

@media screen and (max-width: '850px') {
    .labelProgress {
        margin-top: 10px;
        width: 100% !important;
        margin-bottom: 10px;
    }
}