.prompt-call {
    position: fixed;
    bottom: 10px;
    width: 98%;
}

.codec-folder {
    color: yellowgreen;
    font-style: italic;
    font-size: 10pt;
}

.box-folders {
    border: groove 2px #1f2534dc;
}

.btnico {
    padding: 2px;
    border: groove 2px #88c46cd7;
    border-radius: 5px;
    background-color: transparent;
    transition: ease all 1s;
}

.btnico:hover {
    padding: 2px;
    cursor: pointer;
    transition: ease all 1s;
    background-color: #44444425;
}

.navside {
    border: groove 2px #1f2534dc;
    padding: 10px;
    border-radius: 5px;
}

.containerFolderDocs {
    margin: 5px;
}

.containerFolderDocs.drag-over {
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.1);
    transition: ease all 1s;
}