<div class="spinner-overlay" *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>

<div *ngIf="!isConnected" class="alert alert-warning d-flex align-content-center">
    <mat-icon>wifi_off </mat-icon>
    &nbsp;
    <span>
        No estás conectado a Internet.
    </span>
</div>


<div class="container-fluid p-2 d-flex flex-wrap" *ngIf="_show_app_online">
    <div class="containerFolderDocs" *ngFor="let carpeta of listaCarpetas" [id]="'folder-'+carpeta.id"
        (dragleave)="onDragLeave($event, carpeta)" (dragenter)="onDragEnter($event)"
        (dragover)="onDragOver($event, carpeta)" (drop)="onDrop($event, carpeta)">
        <!-- Carpeta -->
        <div class="folder d-flex justify-content-center align-items-center" [ngClass]="{'active': carpeta.active}"
            (dblclick)="obtenerArchivosServerDB(carpeta)" (click)="toggleActive(carpeta)"
            (contextmenu)="openContextMenu($event, carpeta)" [matMenuTriggerFor]="menu" [matBadge]="carpeta.cantFile"
            matBadgeColor="warn">
        </div>
        <!-- Menú contextual -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="d-flex align-items-center" (click)="obtenerArchivosServerDB(carpeta)">
                <mat-icon>folder_open</mat-icon>
                <span> Abrir carpeta </span>
            </button>
            <button mat-menu-item class="d-flex align-items-center" (click)="interfazUpload(carpeta)">
                <mat-icon>upload</mat-icon>
                <span> Subir Archivo </span>
            </button>
            <button mat-menu-item class="d-flex align-items-center" (click)="crearNota(carpeta.id)">
                <mat-icon>add</mat-icon>
                <span> Crear Nota </span>
            </button>
            <button mat-menu-item class="d-flex align-items-center" (click)="deleteFolder(carpeta)">
                <mat-icon>delete</mat-icon>
                <span> Eliminar Carpeta </span>
            </button>
        </mat-menu>
        <!-- Documentos dentro de la carpeta -->
        <!-- <div class="documentos" *ngIf="carpeta.notas.length > 0">
            <div class="linea" *ngFor="let nota of carpeta.notas"> -->
        <!-- {{ nota.nombreproducto }} -->
        <!-- </div>
        </div> -->
        <!-- Input para el nombre de la carpeta -->
        <div class="inputFolder bg-secondary p-2 rounded-pill shadow-sm text-light"
            style="width: 150px; font-size: 9pt;">
            <!-- (keyup.enter)="actualizarFolder(carpeta.id)" -->
            <input [value]="carpeta.nameFolder" [id]="'folder-' + carpeta.id"
                style="width: 100% !important; background-color: transparent !important; border: none !important; text-align: center;">
        </div>
    </div>

    <div *ngIf="_folder_open" class="window-function-overlay animate__animated animate__fadeIn">
        <div class="window-function" cdkDrag>
            <div class="title" cdkDragHandle>
                <h6> Create Folder</h6>
                <button type="button" (click)="_folder_open = false">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <app-window-function [folderLists]="listFolderActuallyDesktop" (folerEmit)="getFolderOutput($event)">
            </app-window-function>
        </div>
    </div>

    <div *ngIf="_folder_show" class="window-function-overlay animate__animated animate__fadeIn">
        <div class="window-function" cdkDrag>
            <div class="title" cdkDragHandle>
                <div class="d-flex">
                    <div class="d-flex justify-content-between align-items-center">
                        <mat-icon>perm_media</mat-icon>&nbsp;<span>../{{ folder_choice }}</span>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div>
                        <form [formGroup]="folderForm" class="mb-2">
                            <div class="form-group mb-2 d-flex">
                                <input type="text" id="searchItem" formControlName="searchItem" (keyup)="sendFilter()"
                                    class="form-control rounded-pill">
                            </div>
                        </form>
                    </div>
                </div>
                <button type="button" (click)="_folder_show = false">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <app-folder-open [folderData]="dataEmitFolder" [fileFilter]="xfilter"
                [fileList]="filelistEmit"></app-folder-open>
        </div>
    </div>

    <div *ngIf="_file_upload_open" class="window-function-overlay animate__animated animate__fadeIn">
        <div class="window-function" cdkDrag>
            <div class="title" cdkDragHandle>
                <h6>Upload files</h6>
                <button type="button" (click)="_file_upload_open = false">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <app-upload-file [carpetaList]="dataFolderSend" (folderEmit)="getFileUpdate($event)"
                (fileEmit)="getFileEmit($event)">
            </app-upload-file>
        </div>
    </div>

    <div *ngIf="_notes_open" class="window-function-overlay animate__animated animate__fadeIn">
        <div class="window-function" cdkDrag>
            <div class="title" cdkDragHandle>
                <h6>Notes editor</h6>
                <button type="button" (click)="_notes_open = false">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <app-notas style="overflow-y: auto;" [folderId]="notasId"></app-notas>
        </div>
    </div>
</div>