.prompt-call {
    position: absolute;
    bottom: 10px;
    width: 98%;
}

.codec-folder {
    background-color: yellowgreen;
    color: blue;
    font-style: italic;
    font-size: 10pt;
}

.box-folders {
    border: groove 2px #1f2534dc;
}

.btnico {
    padding: 2px;
    border: groove 2px #88c46cd7;
    border-radius: 5px;
    background-color: transparent;
    transition: ease all 1s;
}

.btnico:hover {
    padding: 2px;
    cursor: pointer;
    transition: ease all 1s;
    background-color: #44444425;
}