/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Space Mono' !important;
  background: linear-gradient(156deg, rgb(22, 34, 51) 0%, rgb(25, 28, 31) 100%);
  // background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 147, 162);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #65ded8;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}

.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* Animación para mostrar el div (de opacidad 0 a 1) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animación para ocultar el div (de opacidad 1 a 0) */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Clase que aplica la animación de entrada */
.fade-in {
  animation: fadeIn 0.5s forwards;
}

/* Clase que aplica la animación de salida */
.fade-out {
  animation: fadeOut 0.5s forwards;
}


/* Cambiar el fondo y el borde del input */
input,
textarea {
  background-color: #101820b7 !important;
  border: 1px solid #333;
  /* Cambia el color del borde como prefieras */
  color: #fff !important;
  /* Para que el texto sea visible */
  border: groove 2px rgba(51, 63, 70, 0.824) !important;
  border-radius: 7px !important;
}

/* Quitar el color de fondo blanco por defecto del autoselect en los navegadores */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #101820 inset;
  -webkit-text-fill-color: #fff;
}

/* Quitar el borde blanco cuando se hace focus */
input:focus {
  border-color: #333;
  /* Mantiene el mismo color del borde */
  box-shadow: none;
  /* Quita el brillo del focus */
}

.folder {
  width: 55px;
  height: 38px;
  background-color: #FFD700;
  border-radius: 3px 3px 0 0;
  position: relative;
  margin: 30px;
  transition: ease all 0.5s;
  z-index: 2;
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.5);
}

.folder::before {
  content: '';
  position: absolute;
  top: -6px;
  /* Ajustado proporcionalmente */
  left: 5px;
  /* Ajustado proporcionalmente */
  width: 15px;
  height: 7.5px;
  background-color: #FFD700;
  border-radius: 3px 3px 0 0;
  transition: ease all 0.5s;
  z-index: 2;
}

.documentos {
  width: 45px;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  margin-left: 55px;
  top: 30px;
  // left: 10px;
  transition: ease all 0.5s;
  z-index: 1;
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.5);
}

.linea {
  width: 80%;
  height: 5px;
  background-color: #ddd;
  margin: 5px auto;
  border-radius: 3px;
  transition: ease all 0.5s;
  z-index: 1;
}

.folder:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
}

.folder:hover~.documentos {
  transform: scale(0.9, 0.9);
}

.inputFolder {
  position: relative;
  top: -30px;
}

.folder.active {
  background-color: #e7c718;
  transform: scale(0.9, 0.9);
  transition: ease all 0.5s;
}

.btns {
  background-color: transparent;
  border: solid 2px yellowgreen;
  padding: 5px;
  border-radius: 5px;
  color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease all 1s;
}

.btns:hover {
  transition: ease all 1s;
  cursor: pointer;
  background-color: yellowgreen;
  color: #444;
}

/* Fondo overlay detrás de la ventana */
.window-function-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.159);
  /* Transparencia para el overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Estilos para la ventana emergente */
.window-function {
  display: flex;
  /* Agregado para permitir ajuste automático del contenido */
  flex-direction: column;
  /* Permite apilar el contenido verticalmente */
  position: relative;
  /* Necesario para el pseudo-elemento ::before */
  background: linear-gradient(to bottom, rgba(82, 85, 87, 0.8), rgba(7, 33, 138, 0.4));
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 80%;
  max-width: none;
  /* Permite que la ventana funcione sin límite de ancho */
  max-height: none;
  min-width: 300px;
  /* Define un tamaño mínimo para evitar que se vuelva demasiado pequeño */
  min-height: 200px;
  /* Definir un tamaño mínimo también ayuda a la altura */
  overflow: hidden;
  /* Evita que el contenido desborde */
  resize: both;
  /* Activa el redimensionamiento desde cualquier borde */
  backdrop-filter: blur(5px);
}

.window-function .editor-container {
  flex: 1;
  /* Permite que el editor tome todo el espacio disponible */
  overflow: auto;
  /* Permite el desplazamiento dentro del editor si es necesario */
}

.window-function::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  cursor: nwse-resize;
  /* Cambia el cursor para indicar redimensionamiento */
}

@media (max-width: 768px) {
  .window-function {
    resize: none;
    /* Desactiva el ajuste de tamaño en pantallas pequeñas */
    width: 100vw;
    /* Ancho total de la pantalla */
    height: 80vh;
    /* Altura del 80% de la pantalla */
  }
}



/* Estilos para el encabezado de la ventana */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  /* Mostrar el cursor de arrastre */
  color: whitesmoke;
}

.title h6 {
  margin: 0;
}

.title button {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.title button mat-icon {
  font-size: 20px;
}

input::placeholder {
  color: #7e7e7e9a;
  /* Cambia este valor al color que prefieras */
}

input:focus::placeholder {
  color: #8f8f8fbd;
  /* Color del placeholder cuando el input está enfocado */
}

.icon_button {
  transition: ease all 0.5s;
  background-color: rgba(241, 199, 10, 0.967);
  color: rgb(59, 59, 59);
  border-radius: 100%;
  width: 27px;
  height: 27px;
  border: groove 1px rgba(9, 62, 105, 0.807);
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 5px 5px 5px rgba($color: #0000009a, $alpha: 0.5);
}

.btn-header {
  width: 40px;
  height: 40px;
  border: groove 1px rgba(34, 130, 209, 0.804);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(231, 244, 245);
  background-color: #0000001e;
  padding: 7px;
  transition: ease all 0.5s;
}


.btn-header:hover {
  cursor: pointer;
  transition: ease all 0.5s;
  width: 40px;
  height: 40px;
  border: groove 1px rgb(255, 218, 10);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(251, 207, 13);
  background-color: #0000000f;
  padding: 7px;
  box-shadow: 5px 5px 5px rgba($color: #0000009a, $alpha: 0.5);
}


.icon_button:hover {
  transition: ease all 0.5s;
  cursor: pointer;
  // box-shadow: 0px 0px 0px rgba($color: #0000009a, $alpha: 0.0);
  background-color: yellowgreen;
  border: groove 1px rgba(27, 98, 7, 0.807);
}

.footer {
  background-color: #22337e;
  position: fixed;
  bottom: 2px;
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: groove 2px rgb(35, 46, 94);
  left: 0;
}

.header {
  background-color: #22337e;
  position: relative;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: groove 2px rgb(35, 46, 94);
  left: 0;
}