/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Space Mono' !important;
  background: linear-gradient(156deg, rgb(37, 55, 81) 0%, rgb(38, 52, 61) 100%);
  // background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 147, 162);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #65ded8;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}

.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}


/* Cambiar el fondo y el borde del input */
input {
  background-color: #101820b7 !important;
  border: 1px solid #333;
  /* Cambia el color del borde como prefieras */
  color: #fff !important;
  /* Para que el texto sea visible */
  border: groove 2px rgba(51, 63, 70, 0.824) !important;
  border-radius: 7px !important;
}

/* Quitar el color de fondo blanco por defecto del autoselect en los navegadores */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #101820 inset;
  -webkit-text-fill-color: #fff;
}

/* Quitar el borde blanco cuando se hace focus */
input:focus {
  border-color: #333;
  /* Mantiene el mismo color del borde */
  box-shadow: none;
  /* Quita el brillo del focus */
}