/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Space Mono' !important;
  background: linear-gradient(156deg, rgb(22, 34, 51) 0%, rgb(25, 28, 31) 100%);
  // background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 147, 162);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #65ded8;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}

.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* Animación para mostrar el div (de opacidad 0 a 1) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animación para ocultar el div (de opacidad 1 a 0) */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Clase que aplica la animación de entrada */
.fade-in {
  animation: fadeIn 0.5s forwards;
}

/* Clase que aplica la animación de salida */
.fade-out {
  animation: fadeOut 0.5s forwards;
}


/* Cambiar el fondo y el borde del input */
input,
textarea {
  background-color: #101820b7 !important;
  border: 1px solid #333;
  /* Cambia el color del borde como prefieras */
  color: #fff !important;
  /* Para que el texto sea visible */
  border: groove 2px rgba(51, 63, 70, 0.824) !important;
  border-radius: 7px !important;
}

/* Quitar el color de fondo blanco por defecto del autoselect en los navegadores */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #101820 inset;
  -webkit-text-fill-color: #fff;
}

/* Quitar el borde blanco cuando se hace focus */
input:focus {
  border-color: #333;
  /* Mantiene el mismo color del borde */
  box-shadow: none;
  /* Quita el brillo del focus */
}

.folder {
  width: 55px;
  height: 38px;
  background-color: #FFD700;
  border-radius: 3px 3px 0 0;
  position: relative;
  margin: 50px;
  transition: ease all 0.5s;
  z-index: 2;
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.5);
}

.folder::before {
  content: '';
  position: absolute;
  top: -6px;
  /* Ajustado proporcionalmente */
  left: 5px;
  /* Ajustado proporcionalmente */
  width: 15px;
  height: 7.5px;
  background-color: #FFD700;
  border-radius: 3px 3px 0 0;
  transition: ease all 0.5s;
  z-index: 2;
}

.documentos {
  width: 45px;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  margin: 50px;
  top: -10px;
  left: 10px;
  transition: ease all 0.5s;
  z-index: 1;
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.5);
}

.linea {
  width: 80%;
  height: 5px;
  background-color: #ddd;
  margin: 5px auto;
  border-radius: 3px;
  transition: ease all 0.5s;
  z-index: 1;
}

.folder:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
}

.folder:hover~.documentos {
  transform: scale(0.9, 0.9);
}

.inputFolder {
  position: relative;
  top: -30px;
}