<div class="p-2">

    <div class=" mb-2" *ngFor="let files of file; let i = index">
        <div class="d-flex justify-content-between align-items-center">
            <div class="fileDb col-6  d-flex align-items-center">
                {{ i + 1 }}> &nbsp;
                <mat-icon>view_in_ar</mat-icon>
                &nbsp;
                <span>{{ files.nameFile }}</span>
            </div>
            <!-- title="{{ (files.size * 1024) | number:'1.0-7' }} MB" -->
            <div class="fileDb col-2 d-flex align-items-center">
                <span class="w-100" style="cursor: pointer; text-align: right;">{{ files.size }} GB </span>
            </div>
            <div class="fileDb col-1 d-flex justify-content-center align-items-center">
                <div class="iconbtn d-flex align-content-center" (click)="downLoadFileServer(files)"
                    title="Download file from server">
                    <mat-icon>download</mat-icon>
                </div>
                &nbsp;
                <div class="iconbtn d-flex align-content-center" (click)="deleteFile( files, i )"
                    title="Delete file from server">
                    <mat-icon>delete</mat-icon>
                </div>
            </div>
        </div>
    </div>

</div>